
<app-navbar></app-navbar>
<app-banner></app-banner>
<div class="banner" *ngIf="profile$ | async as profile">

    <div class="profile">
        <div class="row">
            <div class="col-7 p-3 ms-5 color rounded">
                <div class="row mb-3 p-3 color">
                    <div class="col">
                        <img src={{profile.picture}} alt="">
                    </div>
                    <div class="col-8">
                        <div class="row text-white h2">{{profile.user}}</div>
                        <div class="row text-white">Account made: {{profile.createdAt}}</div>
                        <div class="row text-white">Posts: {{profile.posts}}</div>
                    </div> 
                </div>
                <div class="row text-white color " >
                    <div class="row p-3 ms-3 h3">Wall</div>

                    <mat-tab-group >
                        <mat-tab label="Wall">
                            <div *ngFor="let msg of profile.wall">
                                <app-message [msg]=msg></app-message>
                            </div>
                        </mat-tab>
                        <mat-tab label="Second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ducimus excepturi labore cum impedit dignissimos atque quidem ratione,
                             pariatur dolores temporibus culpa unde obcaecati consectetur delectus architecto earum. Molestias, mollitia!</mat-tab>
                        <mat-tab label="About">
                            <div class="row ms-2 w-90" *ngIf="profile.details.age">Age: {{profile.details.age}}</div>
                            <div class="row ms-2 w-90" *ngIf="profile.details.city">City: {{profile.details.city}}</div>
                        </mat-tab>
                    </mat-tab-group>

                   
                </div>
            </div>

            <div class="side col-3 ms-3">
                <div class="color row mb-5 p-3 rounded">
                    <div class="row text-white mb-3">{{profile.user}} follows</div>
                    <div class="row" >
                        <div class="col-2" *ngFor="let picture of profile.follows"><img class="small" src={{picture}} alt=""></div>
                    </div>
                </div>
                
                <div class="color row mb-5 p-3 rounded">
                    <div class="row text-white mb-3">{{profile.user}} followers</div>
                    <div class="row" >
                        <div class="col-2" *ngFor="let picture of profile.followers"><img class="small" src={{picture}} alt=""></div>
                    </div>
                </div>

                <div class="color row mb-5 p-3 rounded">
                    <div class="row text-white mb-3">{{profile.user}} visitors</div>
                    <div class="row" >
                        <div class="col-2" *ngFor="let picture of profile.visitors"><img class="small" src={{picture}} alt=""></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>