.category{
    background-color:  var(--base);
    margin-bottom: 1em;
}

.folder{
    background-color: var(--base-darker);
}

.card{
    font-size: large;
}

.container-fluid{
    background-color: var(--base);
    margin-left:5%;
    width:90%;
}

